body > *{
	text-align:center;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
h4{
	margin-top: 20px;
	margin-bottom:50px;
	padding: 0 20px;
}
h3{
	margin-bottop: 20px;
}
img{
	width: 180px;
	border-radius: 50%;
	border: solid #fff 1px;
}
ul{
	list-style-type: none;
	font-size:15px;
	.fa-external-link{
		font-size: 9px;
	}
}
li{
	text-align: left;
	line-height:30px;
}
a, a:link, a:hover{
	color: #fff;
}
