html {display:table; width:100%;}
body, html{
	padding: 0!important;
	margin: 0!important;
	background-color: #3b63a3;
	height: 100%;
}
body {display:table-cell; text-align:center; vertical-align:middle;}

body > *{
	text-align:center;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
h4{
	margin-top: 20px;
	margin-bottom:30px;
	padding: 0 20px;
}
h3{
	margin-bottom: 20px;
	padding-bottom: 10px;
    border-bottom: 2px white solid;
}
img{
	width: 180px;
	border-radius: 50%;
	border: solid #fff 1px;
}
ul{
	list-style-type: none;
	font-size:15px;
	padding-left:20px;
	.fa-external-link{
		font-size: 9px;
	}
}
li{
	text-align: left;
	line-height:30px;
	
}
a, a:link, a:hover{
	color: #fff;
}
