.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}

.my-face {
  width: 150px;
  border: #282c34 5px solid;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-item {
  flex-basis: 450px;
  text-align: left;
}

.content-item h3 {
  text-align: center;
}
