.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}

.row {
  max-width: 700px;
  margin: 0 10px;
  background-color: white;
}

.my-face {
  width: 150px;
  border: #282c34 5px solid;
}
