h1 {
  margin-bottom: 0;
}

a {
  color: #282c34;
}

a > svg {
  fill: #fff;
  margin-right: 5px;
}

a:hover {
  text-decoration: underline;
}

a:hover > svg {
  fill: #F57058;
}

p {
  font-size: 1.2em;
  line-height: 1.4;
}