#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .app {
    flex-direction: row;
    max-width:768px
  }
}

.logo {
  height: 15em;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card {
  padding: 2em;
}

p {
  text-align: justify;
}
